<li>
	<span class="username">
		<%= link_to avatar_for(user, 'thumb'), user %>
	</span>

	<%= link_to user.username, user %>
	<%= user.admin %>

	<% if current_user.admin? && !current_user?(user) %>
		| <%= link_to "delete", user, method: :delete,
						data: {confirm: "You sure?"} %>
	<% end %>
</li>