<% provide(:title, 'All users') %>

<h1>Search results</h1>

<% if @users.any? %>

	<ul class="users">
		<%= render @users %>
	</ul>

	<%= will_paginate @users %>
<% else %>
	Could not find anything matching what you searched for.
<% end %>