<% @user ||= current_user %>
<div class="stats row">
	<span class="followers col-sm-4"><%= pluralize(@user.followers_count, "followers") %></span>
	<span class="following col-sm-4"><%= @user.following_users_count %> following</span>
	<span class="story-count col-sm-4"><%= pluralize(@user.stories.count, "stories") %></span>
</div>