<div class="panel-thumbnail">
	<a href="<%= user_path(current_user) %>">
		<%= avatar_for(current_user, "med") %>
	</a>
</div>
<div class="panel-body">
	<h1 class="mar-top10 mar-bot10">
		<%= link_to current_user.username, user_path(current_user) %>
	</h1>
</div>	