<% if feed_item.votes_for == feed_item.votes_against %>
    <span class="votecount" style= "color: #666666; display:block;">score</span>
<% elsif feed_item.votes_for < feed_item.votes_against %>
    <span class="votecount" style= "color:#ca0000;  display:block; font-weight: bold;"><%= feed_item.votes_against - feed_item.votes_for %></span>
<% else %>
	<span class="votecount" style= "color:#46a546;  display:block; font-weight: bold;"><%= feed_item.votes_for - feed_item.votes_against %></span>
<% end %>

<%= subscribe_to("/#{current_user.id}/votes") %>
<% current_user.all_following.each do |subscriber| %>
    <%= subscribe_to("/#{subscriber.id}/votes") %>
<% end %>