<div class="center row">
	<h1>welcome to whichizrite</h1>
	
	<h2>
		be heard! don't forget to download our app from itunes or the android store
	</h2>

	<p>
		The idea is simple. Click whichizrite to approve of content and click whichizwrong if you disagree with the content. Now that you know what we are about. Click the sign up button & be heard.		
	</p>

	<%= link_to "Sign up now!", register_path, class: "btn btn-large btn-primary" %>
</div>