<h1>Stories list</h1>
<% if @pg_search_documents.any? %>
	<ol class="stories">
		<% @pg_search_documents.each do |search_item| 
		story = Story.find(search_item.searchable_id) %>
		<li id="<%= story.id %>">
			<span class="story-<%= story.id %>">
				<span class="title">				
					<%= story.title %>
				</span>
				<span class="content">				
					<%= story.content_html %>
				</span>
			</span>
		</li>

	<% end %>
	</ol>
<% else %>
	Could not find anything matching what you searched for.
<% end %>