$maingreen: #46a546;
$darkgreen: darken($maingreen, 10%);
$lightestGray: #f2f2f2;
$mainGray: #ddd;
$darkgray: darken($mainGray, 40%);
$darkestGray: #333;
$mediumGray: #aaa;
$red:#ca0000;
$error: #f00;

@font-face {
    font-family: roboto;
    src: local("roboto"),url("/assets/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face{
	font-family: roboto_bold;
	src: local("roboto-bold"),url("/assets/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face{
	font-family: roboto_light;
	src: local("roboto-light"),url("/assets/roboto/Roboto-Light.ttf") format("truetype");
}

body{
	background-color: #e9eaed;
	font-family: roboto_light;
}

a {
  color: $maingreen;
  &:hover{
  	color: $darkgreen;
  }
}

.btn-primary{
  background-color: $maingreen;
  border: none;
  &:hover{
  	background-color: $darkgreen;
  	border: none;
  }
}

ul.nav-pills li.active a{
	background-color: $maingreen;
	&:hover{
		background-color: $darkgreen;
	}
}

ul.nav-pills li {
	margin-bottom: 10px;
	a{
		background-color: white;
		&:hover{
			background-color: $mainGray;
		}
	}
}


input[type="text"], input[type="password"], input[type="email"], textarea, select{
	padding: 10px;
	height: 40px;
	margin-bottom: 15px;
	width: 100%;
	border: 1px solid $mainGray;
}

textarea{
	height: 160px;
	padding: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    background-image: none;
	border: none;
	text-shadow: none;
	box-shadow: none;
	background-color: transparent;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

// Feed
.new_story{
	margin-bottom: 0px;
	#story_title{
		margin-bottom: 0px;
	}
	label{
		color: #777;
	}
}

.stories{
	list-style: none;
	margin: 0px;
	padding: 0px;
	.panel-body{
		padding-bottom: 0px;
		hr{
			margin-bottom: 0px;
		}
	}
}

img.avatar{
	display: inline-block;
}

#story{
	.panel-body{
		padding-bottom: 0px;
	}
}

.story-heading{
	.story-title{
		font-weight: bold;
		font-size: 20px;
		margin-left: 20px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		a{
			color: $darkestGray;
			&:hover{
				color: $darkgray;
				text-decoration: none;
			}
		}
	}
	.comment{
		float: right;
		i{
			font-size: 18px;
			padding-right: 10px;
		}
	}
}
.user-info{
	.panel-body a{
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
}

.details{
	font-size: 12px;
	font-style: italic;
	.delete{
		margin-left: 5px;
	}
}
.vote-items{
	text-align: center;
	height: 50px;
	padding:0px;
	display: block;	
	background-color: white;					
	//-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
	//   -moz-box-shadow: 0 2px 3px rgba(0,0,0,.25);
	//   		box-shadow: 0 2px 3px rgba(0,0,0,.25);
	a{
		color: $mainGray;
	}				
	.like {
		width: 34%;
		float: left;
		height: 70px;
		a{
			display: block;
			line-height: 70px;
			&:hover{
				text-decoration: none;
				color: $maingreen;
			}
		}
	}

	.stats{
		height: 70px;
		line-height: 70px;
		width: 32%;
		float: left;
	}

	.dislike{ 
		width: 34%;
		float: left;
		height: 70px;
		a{				
			display: block;					
			line-height: 70px;
			&:hover{
				text-decoration: none;
				color: $red;
			}
		}
	}
}

//Single Story Page 
.single-story{
	.story-title{
		font-size: 24px;
		font-weight: bold;
		padding-left: 10px;
	}
	.panel-body{
		padding-bottom: 0px;
	}

	.comment-header{
		margin: 10px 0;
	}
	.comments-list{
		list-style: none;
		margin: 0px;
		padding-left: 0px;
		.comment-user{
			margin-left: 20px;
			font-size: 16px;
		}
	}

	.new_comment{
		margin: 20px;
		textarea{
			border: 1px solid $mainGray;
			margin-bottom: 0px;
		}
	}
	hr{
		margin-bottom: 0px;
	}
}


//Profile Page
.profile{
	a.btn.btn-large{
		width: 100%;
		border-radius: 0px;
	}
	.about{
		i{
			margin-right: 20px;
		}
	}
}

.profile-stats{
	font-size: 12px;
	text-align: center;
	// .followers{
	// 	padding: 5px;
	// }
	// .following{
	// 	padding: 5px;
	// 	border-left: 1px solid #555;
	// 	border-right: 1px solid #555;
	// }
	// .story-count{
	// 	padding: 5px;
	// }
}

//Signup Page
.signup{
	.btn-file{
		background-color: $maingreen;
		height: 35px;
	}
	.submit-btn{
		width: 100%;
	}
}

.user-edit{
	.btn{
		line-height: 30px;
	}
}